script(src='static/table.js')
script(src='//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js')

.container-fluid
    .row
        .col-xs-12
            h1 Words
            table.table.table-striped#maintable
                thead
                    tr
                        th Type
                        th Word
                        th
                tfoot
                    tr
                        th Type
                        th Word
                        th
                tbody
                    each word in words
                        tr
                            td= word.type.slice(1)
                            td= word.word
                            td
                                a(href="#")
                                    span.glyphicon.glyphicon-pencil.text-success
                                |  
                                a(href="#")
                                    span.glyphicon.glyphicon-remove
